@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

section{
    position: relative;
    width:100vw;
    width:100dvw;
    min-height: 40rem;
    left:50%;
    translate:-50%;
}
.first-section{       
    position:relative;
    overflow: hidden;
    background-color: var(--tetriary-color);    
    h2{
        position:absolute;        
        font-family: "Rubik Mono One", monospace;
        font-size: 2.5rem;
        width: 100%;
        text-shadow: var(--fourth-color) 1px 0px 1px;
        z-index: 2;
        text-align: center;
        left:60%;
        top:15%;
        translate:-70%;
        animation-name: entrance-leftside;
        animation-duration: 1.5s;
    }&.fade-in {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
    .opening-article{
        position:absolute;
        display:flex;
        flex-direction:column;
        gap:2rem;
        font-size: 1.5rem;
        right:20%;
        bottom:15%;
        z-index: 2;
        a{
            position: relative;
            align-self: flex-end;
            right:10%;
        button{            
            background: var(--fourth-color);
            display:grid;
            place-content: center;
            width:7rem;
            height:1.5rem;
            font-size: 1.25rem;
            padding:1rem;
            border-radius:10px;
            border:none;
            transition: background-color 0.3s ease;
            &:hover{
                background: var(--primary-color);
                color:var(--secondary-color)
            }
        }
    }
        animation-name: entrance-rightside;
        animation-duration: 1.5s;
    }
    .grains{
        position: absolute;
        width:30rem;
        height: 30rem;
        top:0;
        right: 0;
        transform: scaleX(-1);
    }
    .first-loaf{
        position:absolute;
        width:30rem;
        bottom:-8rem;
        left:-8rem;
        rotate:-35deg
    }    
}
@keyframes entrance{
    from{ opacity:0}
    to{ opacity:1}
}
@keyframes entrance-leftside{
    from{ transform:translateX(-200%)}
    to{ transform:translateX(0)}
}
@keyframes entrance-rightside{
    from{ transform:translateX(200%)}
    to{ transform:translateX(0)}
}

@media screen and (max-width: 1500px) {
    .first-section{
        text-align: center;
        h2{
            font-size: 2rem;
            left:0;
            top:3rem;
            translate:0;
        }
        .opening-article{
            font-size: 1.75rem;
            right:0;
            bottom:2rem;
            translate:0;
            padding:1rem;
        }
        .grains{
            position: absolute;
            width:25rem;
            height: 25rem;
            transform: scaleX(-1);
        }
        .first-loaf{
            position:absolute;
            width:25rem;
            bottom:-5rem;
            left:-5rem;
        }}
}
@media screen and (max-width: 1000px) {
    .first-section{
        text-align: center;
        h2{
            font-size: 2rem;
            left:0;
            top:3rem;
            translate:0;
        }
        .opening-article{
            font-size: 1.75rem;
            right:0;
            translate:0;
            padding:1rem;
            a{
                align-self: center;
                right: 0;}
        }
        .grains{
            position: absolute;
            width:20rem;
            height: 20rem;
            transform: scaleX(-1);
        }
        .first-loaf{
            position:absolute;
            width:20rem;
            bottom:-4rem;
            left:-4rem;
        }}
    }
@media screen and (max-width: 600px) {
    .first-section{
        text-align: center;
        h2{
            font-size: 2rem;
            left:0;
            top:3rem;
            translate:0;
        }
        .opening-article{
            font-size: 1.5rem;
            right:0;
            translate:0;
            padding:1rem;
            a{
                align-self: center;
                right: 0;}
        }
        .grains{
            position: absolute;
            width:12rem;
            height: 12rem;
            transform: scaleX(-1);
        }
        .first-loaf{
            position:absolute;
            width:14rem;
            bottom:-3rem;
            left:-3rem;
        }}
}