@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

.header-and-img-sect{
    min-height: 0;
    height:30rem;
    img{
        width: 100dvw;
        object-fit: cover;
        height:100%;
    }
}
.ingredients-and-step-sect{
    width:70dvw;
    display:grid;
    grid-template-columns: 1fr 3fr;
    gap:0;
    &>section{
        translate:0;
        left:0;
    }

}
.prep-and-ingredients-sect{    
    h2{
        position: relative;
        left:50%;
        translate:-50%;
        font-size: 2.5rem;
        font-family: "Zeyada", cursive;
        font-weight: 600;
        border-bottom: 2px solid;
        width:60%;
        margin-top:2rem;
        margin-bottom:2rem;
    }
    h3{
        display: flex;
        align-items: center;
        margin-bottom:2rem;
        }
    .ingredients-div{
        div{
            border-bottom:1px solid black;
        }
        p{
            padding-bottom:2rem;
        }
        padding-right: 2rem;
        }
    p{
        padding-bottom:1rem ;
    }
    padding-left:2rem;
    display:flex;
    flex-direction: column;
    font-size: 1.25rem;
    overscroll-behavior: contain;
    background: var(--fourth-color);
}
.step-sect{
    background:var(--tetriary-color);
    
    h3{
        padding-left:1rem;
        padding-top:1rem;
        font-size: 2rem;
        
    }
    ol{
        margin-top:2rem;
        padding-left:3rem;
        font-size: 1.5rem;
        li:not(:last-child){
            margin-bottom:3rem;
        }
    }
}

@media screen and (max-width: 1400px) {
    .ingredients-and-step-sect{
    left:0;
    translate:0;
    display:flex;
    flex-direction: column;
    .prep-and-ingredients-sect{
        position: static;
        width:100%;
        width:100dvw;
    }
    .step-sect{
        width:100%;
        width:100dvw;
        ol{
            padding-right:2rem;
        }
    }
}
}