@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  
}
:root{
  --primary-color:#0a6190;
  --secondary-color:#eff8fe;
  --tetriary-color:#e8e8e8;
  --fourth-color:#FEF5EF;
}
body{
  min-width: 100%;
  min-height: 100%;
}
